@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}



/* Shared Styles */
/* font-size */
.font-3{
    font-size: 3rem;

}
.font-2{
    font-size: 2rem;

}
.font-2half{
    font-size: 2.5rem;
}

.font-1fourth{

    font-size: 1.25rem;
}
.font-1half{
    font-size: 24px;
}
/* Font weight */
.bold {
    font-weight: bold;

}

.semi-bold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

/* Colors */
.bg {
    background-color: rgba(255, 144, 14, 0.10);
}

.bg-minimal {
    background-color: #FFF4E7;
}

.accent {
    color: #FF900E;
}

.dark-01 {
    color: #131313;
}

.dark-02 {
    color: #424242;
}

.dark-03 {
    color: #727272;
}

.cta {
    font-size: 1.25rem;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;


}

/* Display Styles */
.display-flex {
    display: flex;
}


/* Header Styles */
header {
    max-width: 1920px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 228px;
    margin-right: 240px;
    margin-bottom: 0px;

}

.nav-title {
    font-size: 2rem;
}

.navbar-items {
    display: flex;
    gap: 72px;
}

.item {
    list-style: none;
    font-size: 1.125rem;
}

nav ul li a {
    text-decoration: none;

}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;


}

.banner-title {
    text-align: center;
    font-size: 4rem;
}

.banner-description {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;

}

.banner-content-place {
    max-width: 862px;
    text-align: center;
}

.image {
    max-width: 1440px;
    margin-top: 48px;
    margin-bottom: 72px;
    margin-left: 200px;
    margin-right: 200px;
    width: 100%;
}


/* Fist section-teams and features */
main {
    max-width: 1440px;
}

.features {
    max-width: 537px;
    margin-left: 72px;
}

.feature-title {
    font-size: 3rem;

}

.features-description {
    margin-top: 24px;
    margin-bottom: 32px;
}

.teams-features {
    margin-left: 301px;
    margin-right: 301px;
    align-items: center;
    width: 100%;
    margin-top: 88px;
    margin-bottom: 128px;


}

.images-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}


/* second section-features details */


/* .two-part { */
display: grid;
grid-template-columns: repeat(2, 1fr);




}

.two-part {
    margin-left: 240px;
    margin-right: 240px;
    justify-content: center;
}

.features-details {
    margin-top: 144px;

}

.text {
    max-width: 586px;
    margin-left: 240px;
    margin-right: 56px;
}

.features-image {
    max-width: 800px;
}

/* Third section-Some Facts */
.facts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(8*15px);
    margin-left: 288px;
    margin-right: 288px;
    margin-top: 96px;
 



}

.fact {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 242px;
    height: 242px;
    text-align: center;


}


.number {
    font-size: 3rem;
}

.validation {
    font: size 1.5rem;
    ;
}

.title{
    margin-bottom: 24px ;
    margin-top: 128px;
}