@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}



/* Shared Styles */


/* Font weight */
.bold {
    font-weight: bold;

}

.semi-bold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

/* Colors */
.bg {
    background-color: rgba(255, 144, 14, 0.10);
}

.bg-minimal {
    background-color: #FFF4E7;
}

.accent {
    background-color: #FF900E;
}

.dark-01 {
    color: #131313;
}

.dark-02 {
    color: #424242;
}

.dark-03 {
    color: #727272;
}

.cta{
    font-size: 1.25rem;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    

}


/* Header Styles */
header{
    max-width: 1920px;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 228px;
    margin-right: 240px;
    margin-bottom: 116px;

}
.nav-title{
    font-size: 3rem;
}

.navbar-items {
    display: flex;
    gap: 72px;
}

.item {
    list-style: none;
    font-size: 1.125rem;
}
 nav ul li  a {
    text-decoration: none;
    
}
.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title{
    text-align: center;
}
.banner-description{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 32px;

}

.banner-content-place{
    max-width:862px ;
    text-align: center;
}
.image{
    max-width: 1440px;
    margin-top: 48px;
    margin-bottom: 72px;
    margin-left: 200px;
    margin-right: 200px;
    width: 100%;
}
